header {
    display: flex;
    align-items: center;
}

header img {
    vertical-align: middle;
}



body {
    font-family: "Comic Sans MS", Arial, sans-serif;
    background-color: #f1f8fc;
    color: #384050;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #00497c;
}

a {
    color: #0074c7;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button, .btn {
    background-color: #0074c7;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: #00497c;
}

.success {
    color: #82b864;
    font-weight: bold;
}

.warning {
    color: #cd2c2e;
    font-weight: bold;
}

.messages li {
    list-style: none;
    margin-bottom: 10px;
}
