<h1>{{ lesson.title }}</h1>

<p>{{ lesson.content }}</p>

{% if user.is_authenticated %}
    <p>
        <a href="{% url 'buy_lesson' lesson.id %}">
            Buy this lesson
        </a>
    </p>
{% else %}
    <p>Please log in to buy this lesson.</p>
{% endif %}

{% if user.is_authenticated %}
    <p>
        <a href="{% url 'validate_lesson' lesson.id %}">
            Validate this lesson
        </a>
    </p>
{% endif %}


<p>
    <strong>Video:</strong><br>
    <a href="{{ lesson.video_url }}" target="_blank">
        Watch video
    </a>
</p>
